<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
<link rel="stylesheet" href="index.css">
<script src="https://unpkg.com/vue"></script>

<div id="app">

  <section id="header" class="hero is-primary" style="margin-bottom: 20px;">
    <div class="hero-body">
      <div class="container">
        <p>*work in progress*</p>
        <h1 class="title is-1">Gerador De Currículos - FAPAM Social</h1>
        <h2 class="subtitle is-2">Gere currículos de forma simples, rápida e descomplicada.</h2>

        <button class="button " id="printButton" v-on:click="printPage">Imprimir</button>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <div id="formulario">

        <h4 class="title is-4">Dados Básicos</h4>
        <hr>

        <div class="columns">

          <div class="column">

            <div class="field">
              <label class="label">Nome</label>
              <div class="control">
                <input class="input" v-model="dadosBasicos.nome">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Idade</label>
              <div class="control">
                <input class="input" type="number" v-model="dadosBasicos.idade">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Gênero</label>
              <div class="control">
                <div class="select">
                  <select v-model="dadosBasicos.genero">
                    <option>Feminino</option>
                    <option>Masculino</option>
                    <option>Trans-feminino</option>
                    <option>Trans-masculino</option>
                    <option>Não-binário</option>
                  </select>
                </div>
              </div>
            </div>

          </div>


          <div class="column">

            <div class="field">
              <label class="label">Estado Civil</label>
              <div class="control">
                <div class="select">
                  <select v-model="dadosBasicos.estadoCivil">
                    <option>solteiro</option>
                    <option>casado</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="columns">

          <div v-for="telefone in contato.telefones" class="column">

            <div class="field">
              <label class="label">Telefone</label>
              <div class="control">
                <input class="input" v-model="telefone.numero" type="tel"
                       pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{3,4}$" maxlength="15">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" v-model="contato.email" type="email">
              </div>
            </div>

          </div>

        </div>

        <h4 class="title is-4">Endereço</h4>
        <hr>

        <div class="columns">

          <div class="column">
            <div class="field">
              <label class="label">Rua</label>
              <div class="control">
                <input class="input" v-model="endereco.rua">
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Número</label>
              <div class="control">
                <input class="input" v-model="endereco.numero" type="number">
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Complemento</label>
              <div class="control">
                <input class="input" v-model="endereco.complemento">
              </div>
            </div>
          </div>


          <div class="column">
            <div class="field">
              <label class="label">Bairro</label>
              <div class="control">
                <input class="input" v-model="endereco.bairro">
              </div>
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label class="label">Cidade</label>
              <div class="control">
                <input class="input" v-model="endereco.cidade">
              </div>
            </div>
          </div>

        </div>


        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <h4 class="title is-4">Formação</h4>
            </div>
          </div>
          <div class="level-right">
            <button class="level-item button is-primary"
              v-on:click="addFormacao">Adicionar Nova Formação</button>
          </div>
        </div>

        <hr>

        <div v-for="(formacao, index) in formacoes" class="columns">

          <div class="column">

            <div class="field">
              <label class="label">Instituição</label>
              <div class="control">
                <input class="input" v-model="formacao.instituicao">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Descrição</label>
              <div class="control">
                <input class="input" v-model="formacao.descricao">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Data de Início</label>
              <div class="control">
                <input class="input" type="date" v-model="formacao.dataIngresso">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Data de Conclusão</label>
              <div class="control">
                <input class="input" type="date" v-model="formacao.dataConclusao">
              </div>
            </div>

          </div>

          <div class="column">
            <button class="button is-danger" v-on:click="removeFormacao(formacao)">X</button>
          </div>

        </div>



        <h4 class="title is-4">Experiência Profissional</h4>
        <hr>


        <div class="columns">

          <div class="column">

            <div class="field">
              <label class="label">Empresa</label>
              <div class="control">
                <input class="input" v-model="experienciaProfissional.empresa">
              </div>
            </div>
          </div>

          <div class="column">

            <div class="field">
              <label class="label">Cargo</label>
              <div class="control">
                <input class="input" v-model="experienciaProfissional.cargo">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Descrição</label>
              <div class="control">
                <input class="input" v-model="experienciaProfissional.descricaoCargo">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Data da Entrada</label>
              <div class="control">
                <input class="input" type="date" v-model="experienciaProfissional.dataEntrada">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Data de Saída</label>
              <div class="control">
                <input class="input" type="date" v-model="experienciaProfissional.dataSaida">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section">

    <div class="container">

      <h1 class="title">Preview - Work In Progress</h1>

      <div id="preview">

        <p v-if="dadosBasicos.nome">{{dadosBasicos.nome}}</p>
        <p v-if="dadosBasicos.idade && dadosBasicos.estadoCivil">{{dadosBasicos.idade}} anos, {{dadosBasicos.estadoCivil}}.</p>
        <!--<p>{{dadosBasicos.genero}}</p>-->
        <p v-if="dadosBasicos.telefone">Telefone: {{contato.telefone}}<span v-if="contato.email">- {{contato.email}}</span></p>
        <p v-if="endereco.rua">
          Rua {{endereco.rua}}, {{endereco.numero}} <span v-if="endereco.complemento">({{endereco.complemento}})</span>.
          Bairro {{endereco.bairro}} - {{endereco.cidade}}</p>

        <!--<h5 class="subtitle is-5" v-if="formacao.instituicao">Formação</h5>-->
        <!--<p v-if="formacao.instituicao">{{formacao.instituicao}}</p>-->
        <!--<p v-if="formacao.descricao">{{formacao.descricao}}</p>-->
        <!--<p v-if="formacao.dataIngresso && formacao.dataConclusao">De {{formacao.dataIngresso}} à {{formacao.dataConclusao}}</p>-->

        <h5 v-if="experienciaProfissional.empresa" class="subtitle is-5">Experiência Profissional</h5>
        <p v-if="experienciaProfissional.empresa">{{experienciaProfissional.empresa}}</p>
        <p>{{experienciaProfissional.cargo}}</p>
        <p>{{experienciaProfissional.descricaoCargo}}</p>
        <p v-if="experienciaProfissional.dataEntrada && experienciaProfissional.dataSaida">
          Período: de {{experienciaProfissional.dataEntrada}} à {{experienciaProfissional.dataSaida}}
        </p>
      </div>

    </div>

  </section>

</div>


<script src="index.js"></script>
