<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
<link rel="stylesheet" href="index.css">
<script src="https://unpkg.com/vue"></script>

<div id="app">

  <section id="header" class="hero is-primary" style="margin-bottom: 20px;">
    <div class="hero-body">
      <div class="container">
        <p>*work in progress*</p>
        <h1 class="title is-1">Gerador De Currículos - FAPAM Social</h1>
        <h2 class="subtitle is-2">Gere currículos de forma simples, rápida e descomplicada.</h2>

        <button class="button " id="printButton" v-on:click="printPage">Imprimir</button>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <div id="formulario">

        <h4 class="title is-4">Dados Básicos</h4>
        <hr>

        <div class="columns">

          <div class="column">

            <div class="field">
              <label class="label">Nome</label>
              <div class="control">
                <input class="input" v-model="nome">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Idade</label>
              <div class="control">
                <input class="input" type="number" v-model="idade">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Estado Civil</label>
              <div class="control">
                <div class="select">
                  <select v-model="estadoCivil">
                    <option>solteiro</option>
                    <option>casado</option>
                  </select>
                </div>
              </div>
            </div>

          </div>



        </div>

        <div class="columns">

          <div class="column">

            <div class="field">
              <label class="label">Telefone</label>
              <div class="control">
                <input class="input" type="tel">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email">
              </div>
            </div>

          </div>

        </div>

        <h4 class="title is-4">Endereço</h4>
        <hr>

        <div class="columns">

          <div class="column">

            <div class="field">
              <label class="label">Rua</label>
              <div class="control">
                <input class="input" type="number">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Número</label>
              <div class="control">
                <input class="input">
              </div>
            </div>

          </div>


          <div class="column">

            <div class="field">
              <label class="label">Bairro</label>
              <div class="control">
                <input class="input">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Cidade</label>
              <div class="control">
                <input class="input">
              </div>
            </div>

          </div>


        </div>

        <h4 class="title is-4">Formação</h4>
        <hr>

        <div class="columns">

          <div class="column">

            <div class="field">
              <label class="label">Instituição</label>
              <div class="control">
                <input class="input">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Descrição</label>
              <div class="control">
                <input class="input">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Data de Início</label>
              <div class="control">
                <input class="input" type="date">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Data de Conclusão</label>
              <div class="control">
                <input class="input" type="date">
              </div>
            </div>

          </div>

        </div>



        <h4 class="title is-4">Experiência Profissional</h4>
        <hr>


        <div class="columns">

          <div class="column">

            <div class="field">
              <label class="label">Empresa</label>
              <div class="control">
                <input class="input">
              </div>
            </div>
          </div>

          <div class="column">

            <div class="field">
              <label class="label">Cargo</label>
              <div class="control">
                <input class="input">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Descrição do Cargo</label>
              <div class="control">
                <input class="input">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Data da Entrada</label>
              <div class="control">
                <input class="input" type="date">
              </div>
            </div>

          </div>

          <div class="column">

            <div class="field">
              <label class="label">Data de Saída</label>
              <div class="control">
                <input class="input" type="date">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</section>

<section class="section" id="preview">

  <div class="container">

  </div>

</section>

</div>

<script src="index.js"></script>
