<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
<link rel="stylesheet" href="index.css">
<script src="https://unpkg.com/vue"></script>


<section id="header" class="hero is-primary" style="margin-bottom: 20px;">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      Gerador De Currículos - FAPAM Social
    </h1>
    <h2 class="subtitle">
      Gere currículos de forma simples, rápida e descomplicada.
    </h2>
  </div>
</div>
</section>

<div id="app" class="container">

  <div class="columns">

  <div id="formulario" class="column">

    <button id="printButton" v-on:click="printPage">Imprimir</button>

    <div class="field">
      <label class="label">Nome</label>
      <div class="control">
        <input class="input" type="text" placeholder="Marcus Vinicius Pereira" v-model="nome">
      </div>
    </div>

    <div class="field">
      <label class="label">Idade</label>
      <div class="control">
        <input class="input" type="text" placeholder="Idade" v-model="idade">
      </div>
    </div>


    <div class="field">
      <label class="label">Estado Civil</label>
      <div class="control">
        <div class="select">
          <select v-model="estadoCivil">
            <option>solteiro</option>
            <option>casado</option>
          </select>
        </div>
      </div>
    </div>

 </div>

  <div id="preview" class="column">
    <p v-if="nome">{{nome}}</p>
    <p>
      <span v-if="idade">{{idade}} anos,</span>
      <span v-if="estadoCivil">{{estadoCivil}}.</span>
    </p>
  </div>

  </div>
</div>

<script src="index.js"></script>
