@media print {

    @page  {
        size: auto;
        margin: 0;
    }

    html, body {
        height: 99%;
    }

     #formulario, #header {
         display: none;
     }

    #preview {
        font-size: 15px;
        display: block;
        margin: 5mm 10mm 5mm 10mm;
    }


}